# My Toronto Clustering Project

#### First i copied the data from the wiki page to excel and ran the following VBA code to deal with unassigned values the way that was pointed out in the task:

```
Sub AssignedOnly()
Dim cell As Range
For Each cell In ActiveSheet.UsedRange.Columns("B").Cells
If Left(cell.Value, 5) = "Not a" Then cell.EntireRow.Delete
Next cell
End Sub
```
___________________________________________________________

```
Sub QueensPark()
Dim cell As Range
For Each cell In ActiveSheet.UsedRange.Columns("C").Cells
If Left(cell.Value, 5) = "Not a" Then cell.Value = cell.Offset(0, -1).Value
Next cell
End Sub
```

#### I placed the improved dataset in my Github repository, and that is where Pandas' turn comes

![](https://ca-times.brightspotcdn.com/dims4/default/013452e/2147483647/strip/true/crop/1968x1107+0+0/resize/840x473!/quality/90/?url=https%3A%2F%2Fca-times.brightspotcdn.com%2F22%2F95%2F424d38b9d4d89a03e4581888f9ce%2Fla-1522697963-y0ks365b7g-snap-image)

In [70]:
import pandas as pd

loc = "https://github.com/SergeyHiro/Coursera_Capstone/raw/master/Toronto.xlsx.xlsm"
Toro = pd.read_excel(loc,
header=0,
index_col=False,)

Toro.columns = ['Postcode','Borough', 'Neighborhood']

Toro = pd.DataFrame(Toro.groupby(['Postcode','Borough'], as_index = True)['Neighborhood'].apply(', '.join))
Toro.reset_index(inplace=True)

Toro.head()

  Postcode       Borough                            Neighborhood
0     M1B   Scarborough                           Rouge, Malvern
1     M1C   Scarborough   Highland Creek, Rouge Hill, Port Union
2     M1E   Scarborough        Guildwood, Morningside, West Hill
3     M1G   Scarborough                                   Woburn
4     M1H   Scarborough                                Cedarbrae

In [68]:
Toro.shape

(103, 3)

#### So i move on and import the geospatial data

In [100]:
loc2 = "https://cocl.us/Geospatial_data"
GeoData = pd.read_csv(loc2,
header=0,
index_col=False,)
GeoData.rename(columns={'Postal Code':'Postcode'}, inplace=True)

GeoData.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Then i merge the two dataframes

In [101]:
# Need to clean whitespaces in order for merge to work

GeoData['Postcode']=GeoData['Postcode'].str.strip()
Toro['Postcode']=Toro['Postcode'].str.strip()

# Then merge

FinalFrame = pd.merge(Toro, GeoData, on='Postcode')
FinalFrame.head(10)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

(0, 5)